# dependencies
node_modules/

# workspace outputs
apps/*/node_modules/
apps/*/dist/
apps/mobile/.expo/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# env files
.env
.env.*
!.env.example
